<h2>Naves</h2>

<form>
  <input type="text" [(ngModel)]="buscaTitulo" placeholder="Buscar por titulo da nave" name="buscaTitulo" />
  <button (click)="buscarPorTitulo()">Buscar</button>
  <button class="limpar" (click)="limparBusca()">Limpar busca</button>
</form>

<mat-spinner *ngIf="loading"></mat-spinner>

<table *ngIf="!loading" mat-table [dataSource]="listaNaves">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>name</th>
    <td mat-cell *matCellDef="let el">{{ el.name }}</td>
  </ng-container>
  <ng-container matColumnDef="model">
    <th mat-header-cell *matHeaderCellDef>model</th>
    <td mat-cell *matCellDef="let el">{{ el.model }}</td>
  </ng-container>
  <ng-container matColumnDef="starship_class">
    <th mat-header-cell *matHeaderCellDef>starship_class</th>
    <td mat-cell *matCellDef="let el">{{ el.starship_class }}</td>
  </ng-container>
  <ng-container matColumnDef="manufacturer">
    <th mat-header-cell *matHeaderCellDef>manufacturer</th>
    <td mat-cell *matCellDef="let el">el.manufacturer</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns"></tr>
</table>
