form {
  display: flex;
  gap: 10px;
  max-width: 640px;
  background: #ecf0f1c2;
  padding: 20px;
margin-top: 30px;
  input {
    flex: 2.2;
    height: 38px;
    padding-left: 10px;
    border: 1px solid #c8c9c9;
  }

  button {
    flex: 1;
    height: 40px;
    border: 0;
    background: #2980b9;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;

    &.limpar {
      background: #dde1e1;
      color: #343637;
    }
  }
}

mat-spinner  {
  max-width: 50px;
  margin-top: 30px;
  margin: auto;
}
