<h1 mat-dialog-title>Starship information:</h1>
<div mat-dialog-content>
  <ul>
    <li><span>name:</span> {{ ship.name }}</li>
    <li><span>model:</span> {{ ship.model }}</li>
    <li><span>starship_class:</span> {{ ship.starship_class }}</li>
    <li><span>manufacturer:</span> {{ ship.manufacturer }}</li>
    <li><span>cost_in_credits:</span> {{ ship.cost_in_credits }}</li>
    <li><span>length:</span> {{ ship.length }}</li>
    <li><span>crew:</span> {{ ship.crew }}</li>
    <li><span>passengers:</span> {{ ship.passengers }}</li>
    <li><span>max_atmosphering_speed:</span> {{ ship.max_atmosphering_speed }}</li>
    <li><span>hyperdrive_rating:</span> {{ ship.hyperdrive_rating }}</li>
    <li><span>MGLT:</span> {{ ship.MGLT }}</li>
    <li><span>cargo_capacity:</span> {{ ship.cargo_capacity }}</li>
    <li><span>consumables:</span> {{ ship.consumables }}</li>
  </ul>
</div>
